
/* FaceRecognitionApp.css */

.app-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  h1 {
    color: #333;
  }
  
  .button-container {
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .loading-indicator {
    font-size: 18px;
    color: #007bff;
  }
  
  .video-container {
    margin: 20px 0;
  }
  
  canvas {
    border: 1px solid #ccc;
  }
  
  .identifying-container {
    margin: 20px 0;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal button {
    margin-top: 10px;
  }


  /* From Uiverse.io by Shoh2008 */ 
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: #333;
  border-radius: 50%;
}

.loader:before,
  .loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 165, 0, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #ff4500;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #ffd700;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #ff4500;
    opacity: 1;
  }

  50%, 100% {
    box-shadow: inset 0 0 0 0 #ffd700;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #ff4500;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #ffd700;
    opacity: 1;
  }
}
